body {
  background-color: gray;
}

.container {
  border: 1px solid orangered;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 16%;
}
.card img {
  width: 100%
}
.card Text {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}

